{% extends "base.html"%}
{% load static %}

{% block navbar %}
<li><a href='{% url "init"%}'>Home</a></li>
{% if user.is_authenticated %}
    <li><a href='{% url "map_home"%}'>My places</a></li>
{% endif %}
<li><a href>About Smart Home</a></li>
<li><a href>About Domotina</a></li>
{% endblock navbar %}

{% block content %}
<div class="slider" id="slides">
    <img src='{% static "image/automatizacion.png" %}'/>
    <img src='{% static "image/control_inteligente.jpg" %}'/>
    <img src='{% static "image/display.jpg" %}'/>
    <img src='{% static "image/Domotica.jpg" %}'/>
    <img src='{% static "image/domotica.jpg" %}'/>
    <img src='{% static "image/smart-remote.jpg" %}'/>
</div>
{% endblock %}
<!--<script src='{% static "js/index.js" %}'></script>-->