{% extends "base.html"%}
{% load static %}

{% block title %}
Massive Creation
{% endblock %}

{% block navbar %}
<li><a href='{% url "central_home" %}'>Home</a></li>
<li><a href='{% url "central_create" %}'>Properties</a></li>
<li><a href='{% url "central_owner_principal" %}'>Owners</a></li>
{% endblock navbar %}

{% block content %}
<script>
        $(function() {
        $("#place").change(function() {
        var option = $("#place").val();
             if(option==1){
             document.getElementById('apto-1').style.display = 'block';
             document.getElementById('apto-3').style.display = 'none';
             }else if(option==2){
             document.getElementById('apto-1').style.display = 'block';
             document.getElementById('apto-3').style.display = 'none';
             }
             else if(option==3){
             document.getElementById('apto-1').style.display = 'none';
             document.getElementById('apto-3').style.display = 'block';
             }else{
             document.getElementById('apto-1').style.display = 'none';
             document.getElementById('apto-3').style.display = 'none';
             }
            });
        });
    </script>

<form class="form-horizontal" action="/generate/" method="post">
    <fieldset>
        <legend>Massive Creation</legend>
        <p>Hello User Central! You can create massive apartment complexes and more.</p>
        <div class="form-group">
            <label class="col-lg-2 control-label">Select a Neighborhood</label>

            <div class="col-lg-10">
                <select name="neighborhood" id="neighborhood" class="form-control">
                <option value="Select">Select</option>
                {% for nei in neighborhood %}
                <option value="{{nei.name}}"> {{nei.name|capfirst}} </option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Select a Builder</label>

            <div class="col-lg-10">
                <select name="builder" id="builder" class="form-control">
                <option value="Select">Select</option>
                {% for user in userbuilder %}
                    {% if 'buildersmart' in user.username %}
                        <option value="{{user.pk}}"> {{user.username|capfirst}} </option>
                    {% endif %}
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Select a Name</label>

            <div class="col-lg-10">
                <input class="form-control" id="placeName" placeholder="Place Name" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Select a Place</label>

            <div class="col-lg-10">
                <select name="place" id="place" class="form-control">
                <option value="Select">Select</option>
                <option value="1">Apartment complex</option>
                <option value="2">Office complex</option>
                <option value="3">Residential complex</option>
            </select>
            </div>
        </div>
        <div style="display:none" id="apto-1">
            <div class="form-group" >
            <label class="col-lg-2 control-label">Apartments or offices</label>
            </div>
            <div class="form-group" >
                <label for="numTowers" class="col-lg-2 control-label">Number of towers</label>

                <div class="col-lg-10">
                    <input class="form-control" id="numTowers" placeholder="Number of towers" type="number">
                </div>
            </div>
            <div class="form-group" >
                <label for="numFloors" class="col-lg-2 control-label">Number of floors</label>

                <div class="col-lg-10">
                    <input class="form-control" id="numFloors" placeholder="Number of floors" type="number">
                </div>
            </div>
            <div class="form-group" >
                <label for="numApartments" class="col-lg-2 control-label">Number of apartments/offices per floor</label>

                <div class="col-lg-10">
                    <input class="form-control" id="numApartments" placeholder="Number of apartments/offices" type="number">
                </div>
            </div>
        </div>
        <div style="display:none" id="apto-3">
            <div class="form-group" >
            <label class="col-lg-2 control-label">Residential complex</label>
            </div>
            <div class="form-group" >
                <label for="numBlocks" class="col-lg-2 control-label">Number of blocks</label>

                <div class="col-lg-10">
                    <input class="form-control" id="numBlocks" placeholder="Number of blocks" type="number">
                </div>
            </div>
            <div class="form-group" >
                <label for="numFloorsHouse" class="col-lg-2 control-label">Number of floors</label>

                <div class="col-lg-10">
                    <input class="form-control" id="numFloorsHouse" placeholder="Number of floors" type="number">
                </div>
            </div>
            <div class="form-group" >
                <label for="numHouses" class="col-lg-2 control-label">Number of houses per block</label>

                <div class="col-lg-10">
                    <input class="form-control" id="numHouses" placeholder="Number of houses" type="number">
                </div>
            </div>
            <div class="form-group" >
                <label for="textHouses" class="col-lg-2 control-label">Map</label>

                <div class="col-lg-10">
                    <input class="form-control" id="textHouses" placeholder="http://img.example.com/map1.jpg" type="text">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div  style="margin-left: 210px" >
                <a href='{% url "central_home" %}' class="btn btn-default">Return</a>
                <p style="display: inline"><input type="submit" class="btn btn-primary" value="Generate"/></p>
            </div>
        </div>
    </fieldset>
    {% csrf_token %}
</form>
{% endblock %}
<!-- another version

    <link rel="stylesheet" href='{% static "css/central-forms.css" %}'>
    <script src='{% static "js/vendor/jquery.easing.min.js" %}'></script>
    <script src='{% static "js/form-central-function.js" %}'></script>

    <script>
        $(function() {
        $("#place").change(function() {
             alert("Han cambiado mi valor");
            });
        });
    </script>

    <div class="col-md-12">
        <form id="msform">
        &lt;!&ndash; progressbar &ndash;&gt;
            <ul id="progressbar">
            <li class="active">Site</li>
            <li>Data</li>
            <li>Floor Plans</li>
            </ul>
        &lt;!&ndash; fieldsets &ndash;&gt;
        <fieldset>
            <h2 class="fs-title">Step 1</h2>
            <h3 class="fs-subtitle">Hello user Central! You can create massive apartment complexes and more</h3>
            <label for="neighborhood" >Select a Neighborhood:</label>
            <select name="neighborhood" id="neighborhood" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <label for="name" >Select a Name:</label>
            <input type="text" name="name" id="name" placeholder="Name" />
            <label for="place" >Select a Place:</label>
            <select name="place" id="place" class="form-control">
                <option value="1">Residential complex</option>
                <option value="2">Office complex</option>
                <option value="3">Apartment complex</option>
            </select>

            <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>
        <fieldset>
            <h2 class="fs-title">Step 2</h2>
            <h3 class="fs-subtitle">Your presence on the social network</h3>
            <div class="row">
                <div class="col-lg-6">
                Twitter
                </div>
                <div class="col-lg-6">
                    <input type="text" id="twitter" placeholder="Twitter" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                <label for="twitter" >Twitter 2</label>
                </div>
                <div class="col-lg-6">
                <input type="text" name="gplus" placeholder="Google Plus" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                <label for="twitter" >Twitter 3</label>
                </div>
                <div class="col-lg-6">
                <input type="text" name="gplus" placeholder="Google Plus" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                <label for="twitter" >Twitter 4</label>
                </div>
                <div class="col-lg-6">
                <input type="text" name="gplus" placeholder="Google Plus" />
                </div>
            </div>

            <input type="button" name="previous" class="previous action-button" value="Previous" />
            <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>
        <fieldset>
            <h2 class="fs-title">Step 3</h2>
            <h3 class="fs-subtitle">We will never sell it</h3>
            <input type="text" name="fname" placeholder="First Name" />
            <input type="text" name="lname" placeholder="Last Name" />
            <input type="text" name="phone" placeholder="Phone" />
            <textarea name="address" placeholder="Address"></textarea>
            <input type="button" name="previous" class="previous action-button" value="Previous" />
            <input type="submit" name="submit" class="submit action-button" value="Submit" />
        </fieldset>
        </form>
    </div>
-->
