{% extends "base.html"%}
{% load static %}

{% block title %}
Massive Creation
{% endblock %}

{% block navbar %}
<li><a href='{% url "central_home" %}'>Home</a></li>
<li><a href='{% url "central_create" %}'>Properties</a></li>
<li><a href='{% url "central_owner_principal" %}'>Owners</a></li>
{% endblock navbar %}

{% block content %}
<form class="form-horizontal">
    <fieldset>
        <legend>Massive Creation</legend>
        <p>Hello User Central! You can create massive apartment complexes and more</p>
        <div class="form-group">
            <label class="col-lg-2 control-label">Select a Neighborhood</label>

            <div class="col-lg-10">
                <select name="neighborhood" id="neighborhood" class="form-control">
                <option value="0">Select</option>
                {% for nei in neighborhood %}
                <option value="{{nei.name}}">
                   {{nei.name|capfirst}}
                </option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Select a Name</label>

            <div class="col-lg-10">
                <input class="form-control" id="placeName" placeholder="Place Name" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Select a Place</label>

            <div class="col-lg-10">
                <select name="place" id="place" class="form-control">
                <option value="1">Residential complex</option>
                <option value="2">Office complex</option>
                <option value="3">Apartment complex</option>
            </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>

            <div class="col-lg-10">
                <input class="form-control" id="inputEmail" placeholder="Email" type="text">
            </div>
        </div>
        <div class="form-group">
            <label for="textArea" class="col-lg-2 control-label">Observations</label>

            <div class="col-lg-10">
                <textarea class="form-control" rows="3" id="textArea"></textarea>
                <span class="help-block">A longer block for to write observations about owner.</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Type User</label>

            <div class="col-lg-10">
                <div class="radio">
                    <label>
                        <input name="optionsRadios" id="optionsRadios1" value="option1" checked="" type="radio">
                        Super User
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input name="optionsRadios" id="optionsRadios2" value="option2" type="radio">
                        Central User
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input name="optionsRadios" id="optionsRadios3" value="option3" type="radio">
                        Owner
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Reset</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
<!-- another version

    <link rel="stylesheet" href='{% static "css/central-forms.css" %}'>
    <script src='{% static "js/vendor/jquery.easing.min.js" %}'></script>
    <script src='{% static "js/form-central-function.js" %}'></script>

    <script>
        $(function() {
        $("#place").change(function() {
             alert("Han cambiado mi valor");
            });
        });
    </script>

    <div class="col-md-12">
        <form id="msform">
        &lt;!&ndash; progressbar &ndash;&gt;
            <ul id="progressbar">
            <li class="active">Site</li>
            <li>Data</li>
            <li>Floor Plans</li>
            </ul>
        &lt;!&ndash; fieldsets &ndash;&gt;
        <fieldset>
            <h2 class="fs-title">Step 1</h2>
            <h3 class="fs-subtitle">Hello user Central! You can create massive apartment complexes and more</h3>
            <label for="neighborhood" >Select a Neighborhood:</label>
            <select name="neighborhood" id="neighborhood" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <label for="name" >Select a Name:</label>
            <input type="text" name="name" id="name" placeholder="Name" />
            <label for="place" >Select a Place:</label>
            <select name="place" id="place" class="form-control">
                <option value="1">Residential complex</option>
                <option value="2">Office complex</option>
                <option value="3">Apartment complex</option>
            </select>

            <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>
        <fieldset>
            <h2 class="fs-title">Step 2</h2>
            <h3 class="fs-subtitle">Your presence on the social network</h3>
            <div class="row">
                <div class="col-lg-6">
                Twitter
                </div>
                <div class="col-lg-6">
                    <input type="text" id="twitter" placeholder="Twitter" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                <label for="twitter" >Twitter 2</label>
                </div>
                <div class="col-lg-6">
                <input type="text" name="gplus" placeholder="Google Plus" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                <label for="twitter" >Twitter 3</label>
                </div>
                <div class="col-lg-6">
                <input type="text" name="gplus" placeholder="Google Plus" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                <label for="twitter" >Twitter 4</label>
                </div>
                <div class="col-lg-6">
                <input type="text" name="gplus" placeholder="Google Plus" />
                </div>
            </div>

            <input type="button" name="previous" class="previous action-button" value="Previous" />
            <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>
        <fieldset>
            <h2 class="fs-title">Step 3</h2>
            <h3 class="fs-subtitle">We will never sell it</h3>
            <input type="text" name="fname" placeholder="First Name" />
            <input type="text" name="lname" placeholder="Last Name" />
            <input type="text" name="phone" placeholder="Phone" />
            <textarea name="address" placeholder="Address"></textarea>
            <input type="button" name="previous" class="previous action-button" value="Previous" />
            <input type="submit" name="submit" class="submit action-button" value="Submit" />
        </fieldset>
        </form>
    </div>
-->
