{% extends "base.html"%}
{% load static %}

{% block title %}
Creation Owner
{% endblock %}

{% block navbar %}
<li><a href='{% url "central_home" %}'>Home</a></li>
<li><a href='{% url "central_create" %}'>Properties</a></li>
<li><a href='{% url "central_owner_principal" %}'>Owners</a></li>
{% endblock navbar %}

{% block content %}
<h3>Huge Load Owners</h3>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Instruccions</h3>
    </div>
    <div class="panel-body">
        You can load a file that content many owners and you can do full load.
    </div>
</div>
<div>
    <form class="form-horizontal" action='{% url "central_huge_load" %}' method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label class="col-lg-2 control-label">File Name</label>
            <div class="col-lg-10">
                <input class="form-control" id="filename" type="text" placeholder="File name" name="filename">
            </div>
        </div>
        <div>
            <input type="file" name="file" id="file" class="btn btn-primary"/>
            <input type="submit" value="Upload" class="btn btn-default">
            <a href='{% url "central_owner_principal" %}' class="btn btn-default">Return</a>
        </div>
        {% csrf_token %}
    </form>
</div>
{% endblock %}