{% extends "base.html"%}
{% load static %}

{% block title %}
Owners
{% endblock %}

{% block navbar %}
<li><a href='{% url "central_home" %}'>Home</a></li>
<li><a href='{% url "central_create" %}'>Properties</a></li>
<li><a href='{% url "central_owner_principal" %}'>Owners</a></li>
{% endblock navbar %}

{% block content %}
<h3>Owners</h3>
<div class="pane">
    <div class="contenedor" id="individual">
        <img class="icon" src='{% static "image/propietario.png" %}'>

        <p class="text">Individual Load</p>
    </div>

    <div class="contenedor" id="full">
        <img class="icon" src='{% static "image/huge-load.png" %}'>

        <p class="text">Huge Load</p>
    </div>
</div>
{% endblock %}