html {
  position: relative;
}

.logo-sm {
    max-height: 20px;
}

.logo-md {
    max-height: 100px;
}

body {
    padding-top: 65px;
    margin-bottom: 60px;
    font-family: 'Helvetica';
}

canvas {
  width: 700px;
  height: 395px;
}

.map {
    display: block;
    background: #f0f0f0;
    background-size:700px 400px;
    background-repeat: no-repeat;
    border:1px solid #d3d3d3;
    width: 700px;
}

.map-container {
    margin-bottom: 40px;
}

.filter{
    margin: 6px 3px !important;
}

#lb {
    font-size: 18px;
    margin: 14px;
}

.popup-panel-modal {
    position:absolute;
    width:300px;
    height:100px;
    z-index:15;
    top:50%;
    left:50%;
    margin:-100px 0 0 -150px;
}