body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
}

.header{
    width: 80%;
    height: 400px;
    margin: 0 10%;
    position: relative;
}

.bar{
    width: 100%;
    height: 80px;
    position: absolute;
    z-index: 11;
    background: rgba(0,0,0,0.5);
    color: #E6E6E6;
    line-height: 80px;
}

.bar img{
    width: 60px;
    margin: 10px 40px;
}

.bar ul{
    width: 60%;
    float: right;
    padding: 0;
    margin: 0;
}

.bar ul li{
    width: 30%;
    display: inline-block;
    margin: 0 0 0 2%;
}

.bar ul li:hover{
    color: #58ACFA;
}

.slider{
    width: 80%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

.slider .slidesjs-container{
    height: 90%;
}

.slider a{
    text-decoration: none;
    color: #000;
    margin: 10px 5px;
    display: inline-block;
}

.slidesjs-control{
    height: 100%;
}

.slidesjs-control img{
    height: 100% !important;
}

.slidesjs-navigation{
    display: none !important;
}

.slidesjs-pagination-item a{
    color: rgba(0,0,0,0);
    border-radius: 50%;
    border: 2px solid #333;
    background-color: #FFF;
    width: 15px;
    height: 15px;
}

a.active{
    background-color: #000;
}

.slider ul{
    display: inline;
    float: right;
    margin: 0px 15px 0 0;
    padding: 0;
}

.slider ul li{
    display: inline-block;
    margin: 0 7px;

}

.wrapper{
    width: 80%;
    height: 640px;
    margin: 10px 10%;
}

.wrapper > div{
    border: 1px solid #000;
    display: inline-block;
    vertical-align: top;

}

.info{
    width: 18.5%;
    height: 100%;
    margin: 0 0 0 2%;
    float: right;
}

.info > div{
    height: 50%;
    margin: 2% 0 2% 0;
}

.map{
    width: 800px;
    height: 100%;
    background: #f0f0f0;
    background-size:800px 640px;
    background-repeat: no-repeat;
    border:1px solid #d3d3d3;
}

.map img{
    width: 100%;
    height: 640;
}

.footer{
    bottom: 0;
    width: 80%;
    height: 50px;
    border-top: 3px solid #000;
    margin: 0 10%;
    line-height: 50px;
}

.footer .left{
    float: left;
    width: 200px;
    height: 100%;
    margin-left: 20px;
    font-size: 12px;
    line-height: initial;
}

.footer .left img{
    width: 50px;
    height: auto;
    margin: 20px 0 0 0;
}

.footer .left p{
    color: #666;
    margin: 0;
}

.footer .right{
    float: right;
    width: 50%;
    margin-right: 20px;
    line-height: initial;
    font-size: 12px;
}

.footer .right > div{
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 5px;
}

.footer .right > div:first-child p{
    color: #58ACFA;
}

.footer .right > div p{
    color: #666;
}
