{% extends "base.html" %}
{% load static %}

{% block navbar %}
<li><a href='{% url "map_home" %}'>Places</a></li>
<li><a href='{% url "create_rule" place_pk %}'>Create rule</a></li>
{% endblock navbar %}

{% block content %}
<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Rules</h3>
    </div>
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>Rule</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for rule in rules %}
        <tr>
            <td>{{rule}}</td>
            <td>
                <a href='{% url "edit_rule" place_pk rule.pk %}' class="btn btn-default">Edit</a>
                <a href='{% url "delete_rule" place_pk rule.pk %}' class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}