{% extends "base.html"%}
{% load static %}

{% block title %}
Place {{floor.place}}
{% endblock %}

{% block bar %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-content">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">
                <span><img class="logo-sm" src='{% static "img/domotinaLogo.png" %}'/></span> Domotina
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-content">
            <ul class="nav navbar-nav">
                <li><a href='{% url "map_home" %}'>Places</a></li>
                <li><a href>Alarms</a></li>
                <li><a href>Events</a></li>
            </ul>
            {% block toggle_login %}
            {% include "login.html" %}
            {% endblock %}
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
{% endblock %}

{% block content %}
<div>
    <h1>{{ floor.place }}</h1>
</div>
<div class="col-md-8 map-container">
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            {{ type|default:"All"}} sensors
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="?floor_page={{ floors.number }}&alarm_page={{ alarms.number }}&event_page={{ events.number }}">All sensors</a></li>
            {% for type in types %}
            <li><a href="?floor_page={{ floors.number }}&alarm_page={{ alarms.number }}&event_page={{ events.number }}&type={{ type.pk }}">{{type.name}} sensors</a></li>
            {% endfor %}
        </ul>
    </div>
    <div style='background-image:url("{{ floor.map }}");' class="map">
        <canvas id="place_canvas" width="700" height="400">
            Your browser does not support the HTML5 canvas tag.
        </canvas>
        <script>
                var sensors = [{{sensors | safe}}];
                function showIcons() {
                    var c = document.getElementById("place_canvas");
                    var ctx = c.getContext("2d");
                    var currentSensor;
                    for (var i in sensors) {
                        currentSensor = new Image();
                        currentSensor.src = sensors[i].url;
                        ctx.drawImage(currentSensor, sensors[i].pos_x, sensors[i].pos_y);
                    }
                }
                $(document).ready(showIcons);
                $(window).load(showIcons);
        </script>
    </div>
    {% if floors.paginator.num_pages > 1 %}
        <nav>
            <ul class="pager">
                {% if floors.has_previous %}
                    <li class="previous">
                        <a href="?floor_page={{ floors.previous_page_number }}&alarm_page={{ alarms.number }}&event_page={{ events.number }}{{ type_param }}">previous</a>
                    </li>
                {% else %}
                    <li class="previous disabled"><a>previous</a></li>
                {% endif %}

                <li>
                    Floor {{ floors.number }} of {{ floors.paginator.num_pages }}
                </li>

                {% if floors.has_next %}
                    <li class="next">
                        <a href="?floor_page={{ floors.next_page_number }}&alarm_page={{ alarms.number }}&event_page={{ events.number }}{{ type_param }}">next</a>
                    </li>
                {% else %}
                    <li class="next disabled"><a>next</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
</div>
<div class="col-md-4">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">ALARMS</h3>
        </div>
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Sensor</th>
                <th>Type Sensor</th>
            </tr>
          </thead>
          <tbody>
            {% for alarm in alarms %}
            <tr>
              <td>{{alarm.activation_date.date}}</td>
              <td>{{alarm.activation_date.time}}</td>
              <td>{{alarm.event.sensor}}</td>
              <td>{{alarm.event.type}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <ul class="list-group">
            {% for alarm in alarms %}
            {% empty %}
            <li class="list-group-item">There are no alarms in this floor</li>
            {% endfor %}
        </ul>
    </div>
    <nav>
        <ul class="pager">
            {% if alarms.has_previous %}
            <li class="previous"><a href="?floor_page={{ floors.number }}&alarm_page={{ alarms.previous_page_number }}&event_page={{ events.number }}{{ type_param }}">previous</a>
            </li>
            {% else %}
            <li class="previous disabled"><a>previous</a></li>
            {% endif %}

            <li>
                Page {{ alarms.number }} of {{ alarms.paginator.num_pages }}
            </li>

            {% if alarms.has_next %}
            <li class="next"><a href="?floor_page={{ floors.number }}&alarm_page={{ alarms.next_page_number }}&event_page={{ events.number }}{{ type_param }}">next</a>
            </li>
            {% else %}
            <li class="next disabled"><a>next</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">EVENTS</h3>
        </div>

        <table class="table table-striped table-hover ">
          <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Sensor</th>
                <th>Type Sensor</th>
            </tr>
          </thead>
          <tbody>
            {% for event in events %}
            <tr>
              <td>{{event.timestamp.date}}</td>
              <td>{{event.timestamp.time}}</td>
              <td>{{event.sensor}}</td>
              <td>{{event.type}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <ul class="list-group">
            {% for event in events %}
            {% empty %}
            <li class="list-group-item">There are no events in this floor</li>
            {% endfor %}
        </ul>
    </div>
    <nav>
        <ul class="pager">
            {% if events.has_previous %}
            <li class="previous"><a href="?floor_page={{ floors.number }}&event_page={{ events.previous_page_number }}&alarm_page={{ alarms.number }}{{ type_param }}">previous</a>
            </li>
            {% else %}
            <li class="previous disabled"><a>previous</a></li>
            {% endif %}

            <li>
                Page {{ events.number }} of {{ events.paginator.num_pages }}
            </li>

            {% if events.has_next %}
            <li class="next"><a href="?floor_page={{ floors.number }}&event_page={{ events.next_page_number }}&alarm_page={{ alarms.number }}{{ type_param }}">next</a>
            </li>
            {% else %}
            <li class="next disabled"><a>next</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}