{% extends "base.html"%}
{% load static %}

{% block title %}
 - My places
{% endblock %}

{% block navbar %}
<li><a href='{% url "init" %}'>Home</a></li>
<li><a href="#">About Smart Home</a></li>
<li><a href="#">About Domotina</a></li>
{% endblock navbar %}

{% block content %}
<div class="well">
    <ul class="list-unstyled">
        {% for place in places %}
        <li class="btn"><a href='{% url "map_place_view" place.pk %}'>
            <img src='{% static "img/home-icon.png" %}' class="img-rounded"/>
            <p>{{place.name}}</p>
        </a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}