{% extends "base.html" %}
{% load static %}
{% load event_status %}

{% block title %}
    - Place {{ floor.place }}
{% endblock %}

{% block navbar %}
    <li><a href='{% url "map_home" %}'>My places</a></li>
{% endblock navbar %}

{% block content %}
    <div>
        <h1><span id="floor_title">{{ floor.place }}</span></h1>
    </div>
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="dropdown">
                <a href class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" role="button">
                    {{ type|default:"All"}} sensors
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="{% query_params alarms.number events.number None floors.number %}">All
                            sensors</a></li>
                    {% for type in types %}
                        <li>
                            <a href="{% query_params alarms.number events.number type floors.number %}">{{ type.name }}
                                sensors</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li><a href='{% url "list_sensors" floor.place.pk %}'>Sensors</a></li>
            <li><a href='{% url "list_rules" floor.place.pk %}'>Rules</a></li>
            <li><a href='{% url "map_history" floor.place.pk now %}'>History</a></li>
            <li><a href='{% url "report_home" floor.place.pk %}'>Reports</a></li>
            <li><a href>Delegates</a></li>
        </ul>
    </div>
    <div class="col-md-10 map-container well center-block">
        {% block popup %}
            {% include "popup_sensor.html" %}
        {% endblock %}

        <div style='background-image:url("{{ floor.map }}");' class="map center-block">
            <canvas id="place_canvas" width="700" height="400">
                Your browser does not support the HTML5 canvas tag.
            </canvas>
        </div>
        {% if floors.paginator.num_pages > 1 %}
            <nav>
                <ul class="pager">
                    {% if floors.has_previous %}
                        <li class="previous">
                            <a href="{% query_params alarms.number events.number type floors.previous_page_number %}">previous</a>
                        </li>
                    {% else %}
                        <li class="previous disabled"><a>previous</a></li>
                    {% endif %}

                    <li>
                        Floor {{ floors.number }} of {{ floors.paginator.num_pages }}
                    </li>

                    {% if floors.has_next %}
                        <li class="next">
                            <a href="{% query_params alarms.number events.number type floors.next_page_number %}">next</a>
                        </li>
                    {% else %}
                        <li class="next disabled"><a>next</a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
    <div class="col-md-12 well">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li id="alarms_tab" role="presentation" class="active"><a onclick="showAlarms()">Alarms</a></li>
                <li id="events_tab" role="presentation"><a onclick="showEvents()">Events</a></li>
            </ul>
        </div>
        <div class="col-md-12" id="alarms">
            {% alarms_table alarms %}
            <nav>
                <ul class="pager">
                    {% if alarms.has_previous %}
                        <li class="previous"><a
                                href="{% query_params alarms.previous_page_number events.number type floors.number %}">previous</a>
                        </li>
                    {% else %}
                        <li class="previous disabled"><a>previous</a></li>
                    {% endif %}

                    <li>
                        Page {{ alarms.number }} of {{ alarms.paginator.num_pages }}
                    </li>

                    {% if alarms.has_next %}
                        <li class="next"><a
                                href="{% query_params alarms.next_page_number events.number type floors.number %}">next</a>
                        </li>
                    {% else %}
                        <li class="next disabled"><a>next</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="col-md-12" id="events" style="display: none;">
            {% events_table events %}
            <nav>
                <ul class="pager">
                    {% if events.has_previous %}
                        <li class="previous"><a
                                href="{% query_params alarms.number events.previous_page_number type floors.number %}">previous</a>
                        </li>
                    {% else %}
                        <li class="previous disabled"><a>previous</a></li>
                    {% endif %}

                    <li>
                        Page {{ events.number }} of {{ events.paginator.num_pages }}
                    </li>

                    {% if events.has_next %}
                        <li class="next"><a
                                href="{% query_params alarms.number events.next_page_number type floors.number %}">next</a>
                        </li>
                    {% else %}
                        <li class="next disabled"><a>next</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    <script>
        var sensors = [{{sensors | safe }}];
        var zoom = [{{zoom | safe }}];
        console.log(sensors);
        console.log(zoom);
    </script>
    <script src='{% static "js/place_details.js" %}'></script>
{% endblock %}